<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <!--  <script src="/js/jquery.js"></script>-->
</head>

<!--  우리가 작업할 공간 -->
<body>
<div layout:fragment="content" class="content">
    <table class="table" border="1">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="article : ${articles}" th:object="${article}" >
                <th th:text="${id}"></th>
                <td>
                <a th:href="@{/articles/{id}(id=*{id})}" th:text="${title}"></a>
                </td>
                <th th:text="${content}"></th>
            </tr>
        </tbody>
    </table>
    <a href="/articles/new">New Article</a>
</div>
</body>
</html>